.packagesContainer {
  padding-top: 7rem;
  padding-left: 3rem;

  .packagesTitle {
    .firstLine {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      .packages {
        color: #b75df4;
        font-style: normal;
        font-size: 10px;
        font-weight: 700;
        padding: 2px 10px 1px 10px;
        border-radius: 5px;
      }
    }
  }
  .planes {
    gap: 2rem;
    padding-top: 1%;
    display: flex;
    align-items: center;
    padding-right: 4%;

    .plansCard1 {
      display: inline-block;
      height: 30rem;
      position: relative;
      background: #0f0f1c;
      background: linear-gradient(
        180deg,
        rgb(21, 20, 26) 0%,
        rgb(15, 15, 28) 45%,
        rgb(14, 14, 24) 75%,
        rgb(11, 10, 17) 100%
      );
      border-radius: 50px 50px 15px 15px;

      &:hover {
        background: linear-gradient(
          180deg,
          rgb(11, 10, 17) 0%,
          rgb(20, 20, 37) 45%,
          rgb(17, 17, 32) 75%,
          rgb(11, 10, 17) 100%
        );
        transition: 0.3s all;
      }
      transition: 0.3s all;
      .plans1 {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        flex-direction: column;

        .ptitle {
          height: 4rem;
          width: 20em;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 30px;
          background: linear-gradient(
            120deg,
            rgb(167, 75, 240) 0%,
            rgb(106, 100, 250) 100%
          ) !important;
          box-shadow: 0 0 25px rgba(140, 87, 245, 0.5) !important;
        }

        b {
          padding-top: 21px;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-weight: normal;
          font-size: 20px;
          letter-spacing: 2px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        }

        .planesColor1 {
          margin-top: -52px;
          width: 100%;
          overflow: hidden;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 55px;
          letter-spacing: 2px;
          top: 0;
          left: 0;
          opacity: 0.05;
        }
        .pinsider {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin-top: 14px;
          height: 300px;
          span {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            padding: 12px 0;
            text-transform: capitalize;
            color: #fff;
            font-size: 15px;
            opacity: 0.7;
            border-bottom: 1px solid rgba(53, 53, 87, 0.5);
          }
        }
        i {
          background: -webkit-linear-gradient(
            rgb(167, 75, 240) 0%,
            rgb(106, 100, 250) 100%
          );
          background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-shadow: 0 0 25px rgba(140, 87, 245, 0.5);
          width: 100%;
          font-size: 14px;
          letter-spacing: 3px;
          display: inline-block;
          text-transform: uppercase;
          text-align: center;
          font-style: normal;
        }
        a {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 50%;
          margin: 20px 25%;
          background: rgba(67, 67, 114, 0.1);
          color: #fff;
          font-size: 14px;
          letter-spacing: 5px;
          text-transform: uppercase;
          padding: 14px 15px 10px 15px;
          border-radius: 30px;
          transition: 0.3s all;
        }
      }
    }
    .plansCard2 {
      display: inline-block;
      height: 30rem;
      position: relative;
      background: #0f0f1c;
      background: linear-gradient(
        180deg,
        rgb(21, 20, 26) 0%,
        rgb(15, 15, 28) 45%,
        rgb(14, 14, 24) 75%,
        rgb(11, 10, 17) 100%
      );
      border-radius: 50px 50px 15px 15px;
      transition: 0.3s all;

      &:hover {
        background: linear-gradient(
          180deg,
          rgb(11, 10, 17) 0%,
          rgb(20, 20, 37) 45%,
          rgb(17, 17, 32) 75%,
          rgb(11, 10, 17) 100%
        );
        transition: 0.3s all;
      }
      .plans2 {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        flex-direction: column;

        .ptitle {
          height: 4rem;
          width: 20em;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 30px;
          background: linear-gradient(
            120deg,
            rgb(253, 110, 159) 0%,
            rgb(252, 129, 111) 100%
          ) !important;
          box-shadow: 0 0 25px rgba(252, 118, 130, 0.5) !important;
        }

        b {
          padding-top: 21px;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-weight: normal;
          font-size: 20px;
          letter-spacing: 2px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        }

        .planesColor2 {
          margin-top: -52px;
          width: 100%;
          overflow: hidden;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 55px;
          letter-spacing: 2px;
          top: 0;
          left: 0;
          opacity: 0.05;
        }

        .pinsider {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin-top: 14px;
          height: 300px;
          span {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            padding: 12px 0;
            text-transform: capitalize;
            color: #fff;
            font-size: 15px;
            opacity: 0.7;
            border-bottom: 1px solid rgba(53, 53, 87, 0.5);
          }
        }
        i {
          background: -webkit-linear-gradient(
            rgb(253, 110, 159) 0%,
            rgb(252, 129, 111) 100%
          );
          background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-shadow: 0 0 25px rgba(252, 118, 130, 0.5);
          width: 100%;
          font-size: 14px;
          letter-spacing: 3px;
          display: inline-block;
          text-transform: uppercase;
          text-align: center;
          font-style: normal;
        }
        a {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 50%;
          margin: 20px 25%;
          background: rgba(67, 67, 114, 0.1);
          color: #fff;
          font-size: 14px;
          letter-spacing: 5px;
          text-transform: uppercase;
          padding: 14px 15px 10px 15px;
          border-radius: 30px;
          transition: 0.3s all;
        }
      }
    }
    .plansCard3 {
      display: inline-block;
      height: 30rem;
      position: relative;
      background: #0f0f1c;
      background: linear-gradient(
        180deg,
        rgb(21, 20, 26) 0%,
        rgb(15, 15, 28) 45%,
        rgb(14, 14, 24) 75%,
        rgb(11, 10, 17) 100%
      );

      &:hover {
        background: linear-gradient(
          180deg,
          rgb(11, 10, 17) 0%,
          rgb(20, 20, 37) 45%,
          rgb(17, 17, 32) 75%,
          rgb(11, 10, 17) 100%
        );
        transition: 0.3s all;
      }
      border-radius: 50px 50px 15px 15px;
      transition: 0.3s all;
      .plans3 {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        flex-direction: column;

        .ptitle {
          height: 4rem;
          width: 20em;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 30px;
          background: linear-gradient(
            120deg,
            rgb(255, 170, 54) 0%,
            rgb(255, 106, 0) 100%
          ) !important;
          box-shadow: 0 0 25px rgba(226, 158, 53, 0.5) !important;
        }

        b {
          padding-top: 21px;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-weight: normal;
          font-size: 20px;
          letter-spacing: 2px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        }

        .planesColor3 {
          margin-top: -52px;
          width: 100%;
          overflow: hidden;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 55px;
          letter-spacing: 2px;
          top: 0;
          left: 0;
          opacity: 0.05;
        }

        .pinsider {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin-top: 14px;
          height: 300px;
          span {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            padding: 12px 0;
            text-transform: capitalize;
            color: #fff;
            font-size: 15px;
            opacity: 0.7;
            border-bottom: 1px solid rgba(53, 53, 87, 0.5);
          }
        }
        i {
          background: -webkit-linear-gradient(rgb(255, 170, 54) 0%, rgb(255, 106, 0) 100%);
          background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 0 25px rgba(226, 158, 53, 0.5);
          width: 100%;
          font-size: 14px;
          letter-spacing: 3px;
          display: inline-block;
          text-transform: uppercase;
          text-align: center;
          font-style: normal;
        }
        a {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 50%;
          margin: 20px 25%;
          background: rgba(67, 67, 114, 0.1);
          color: #fff;
          font-size: 14px;
          letter-spacing: 5px;
          text-transform: uppercase;
          padding: 14px 15px 10px 15px;
          border-radius: 30px;
          transition: 0.3s all;
        }
      }
    }
    .plansCard4 {
      display: inline-block;
      height: 30rem;
      position: relative;
      background: #0f0f1c;
      background: linear-gradient(
        180deg,
        rgb(21, 20, 26) 0%,
        rgb(15, 15, 28) 45%,
        rgb(14, 14, 24) 75%,
        rgb(11, 10, 17) 100%
      );

      &:hover {
        background: linear-gradient(
          180deg,
          rgb(11, 10, 17) 0%,
          rgb(20, 20, 37) 45%,
          rgb(17, 17, 32) 75%,
          rgb(11, 10, 17) 100%
        );
        transition: 0.3s all;
      }
      border-radius: 50px 50px 15px 15px;
      transition: 0.3s all;
      .plans4 {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        flex-direction: column;

        .ptitle {
          height: 4rem;
          width: 20em;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 30px;
          background: linear-gradient(
            120deg,
            rgb(31, 150, 196) 0%,
            rgb(74, 204, 198) 100%
          ) !important;
          box-shadow: 0 0 25px rgba(54, 179, 197, 0.5) !important;
        }

        b {
          padding-top: 21px;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-weight: normal;
          font-size: 20px;
          letter-spacing: 2px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        }

        .planesColor4 {
          margin-top: -52px;
          width: 100%;
          overflow: hidden;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 55px;
          letter-spacing: 2px;
          top: 0;
          left: 0;
          opacity: 0.05;
        }

        .pinsider {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin-top: 14px;
          height: 300px;
          span {
            display: flex;
            width: 66%;
            padding: 12px 0;
            text-transform: capitalize;
            color: #fff;
            font-size: 15px;
            opacity: 0.7;
            border-bottom: 1px solid rgba(53, 53, 87, 0.5);
          }
        }
        i {
          background: -webkit-linear-gradient(rgb(74, 204, 198) 0%, rgb(31, 150, 196) 100%);
          background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 0 25px rgba(54, 179, 197, 0.5);
          width: 100%;
          font-size: 14px;
          letter-spacing: 3px;
          display: inline-block;
          text-transform: uppercase;
          text-align: center;
          font-style: normal;
        }
        a {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 50%;
          margin: 20px 25%;
          background: rgba(67, 67, 114, 0.1);
          color: #fff;
          font-size: 14px;
          letter-spacing: 5px;
          text-transform: uppercase;
          padding: 14px 15px 10px 15px;
          border-radius: 30px;
          transition: 0.3s all;
        }
      }
    }
  }
}
