.packagesContainer {
  padding-top: 7rem;
  padding-left: 3rem;

  .packagesTitle {
    .firstLine {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      .packages {
        color: #b75df4;
        font-style: normal;
        font-size: 10px;
        font-weight: 700;
        padding: 2px 10px 1px 10px;
        border-radius: 5px;
      }
    }
  }
  .planes {
    gap: 2rem;
    padding-top: 2%;
    display: flex;
    align-items: center;
    padding-right: 4%;

    .plansCard1 {
      display: inline-block;
      height: 28rem;
      position: relative;
      background: #0f0f1c;
      background: linear-gradient(
        180deg,
        rgb(21, 20, 26) 0%,
        rgb(15, 15, 28) 45%,
        rgb(14, 14, 24) 75%,
        rgb(11, 10, 17) 100%
      );
      border-radius: 50px 50px 15px 15px;
      transition: 0.3s all;
      .plans1 {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        flex-direction: column;

        .ptitle {
          height: 4rem;
          width: 20em;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 30px;
          background: linear-gradient(
            120deg,
            rgb(167, 75, 240) 0%,
            rgb(106, 100, 250) 100%
          ) !important;
          box-shadow: 0 0 25px rgba(140, 87, 245, 0.5) !important;
        }

        b {
          padding-top: 21px;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-weight: normal;
          font-size: 20px;
          letter-spacing: 2px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        }

        .planesColor1 {
          margin-top: -52px;
          width: 100%;
          overflow: hidden;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 55px;
          letter-spacing: 2px;
          top: 0;
          left: 0;
          opacity: 0.05;
        }
      }
    }
    .plansCard2 {
      display: inline-block;
      height: 28rem;
      position: relative;
      background: #0f0f1c;
      background: linear-gradient(
        180deg,
        rgb(21, 20, 26) 0%,
        rgb(15, 15, 28) 45%,
        rgb(14, 14, 24) 75%,
        rgb(11, 10, 17) 100%
      );
      border-radius: 50px 50px 15px 15px;
      transition: 0.3s all;
      .plans2 {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        flex-direction: column;

        .ptitle {
          height: 4rem;
          width: 20em;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 30px;
          background: linear-gradient(
            120deg,
            rgb(253, 110, 159) 0%,
            rgb(252, 129, 111) 100%
          ) !important;
          box-shadow: 0 0 25px rgba(252, 118, 130, 0.5) !important;
        }

        b {
          padding-top: 21px;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-weight: normal;
          font-size: 20px;
          letter-spacing: 2px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        }

        .planesColor2 {
          margin-top: -52px;
          width: 100%;
          overflow: hidden;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 55px;
          letter-spacing: 2px;
          top: 0;
          left: 0;
          opacity: 0.05;
        }
      }
    }
    .plansCard3 {
      display: inline-block;
      height: 28rem;
      position: relative;
      background: #0f0f1c;
      background: linear-gradient(
        180deg,
        rgb(21, 20, 26) 0%,
        rgb(15, 15, 28) 45%,
        rgb(14, 14, 24) 75%,
        rgb(11, 10, 17) 100%
      );
      border-radius: 50px 50px 15px 15px;
      transition: 0.3s all;
      .plans3 {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        flex-direction: column;

        .ptitle {
          height: 4rem;
          width: 20em;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 30px;
          background: linear-gradient(
            120deg,
            rgb(255, 170, 54) 0%,
            rgb(255, 106, 0) 100%
          ) !important;
          box-shadow: 0 0 25px rgba(226, 158, 53, 0.5) !important;
        }

        b {
          padding-top: 21px;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-weight: normal;
          font-size: 20px;
          letter-spacing: 2px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        }

        .planesColor3 {
          margin-top: -52px;
          width: 100%;
          overflow: hidden;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 55px;
          letter-spacing: 2px;
          top: 0;
          left: 0;
          opacity: 0.05;
        }
      }
    }
    .plansCard4 {
      display: inline-block;
      height: 28rem;
      position: relative;
      background: #0f0f1c;
      background: linear-gradient(
        180deg,
        rgb(21, 20, 26) 0%,
        rgb(15, 15, 28) 45%,
        rgb(14, 14, 24) 75%,
        rgb(11, 10, 17) 100%
      );
      border-radius: 50px 50px 15px 15px;
      transition: 0.3s all;
      .plans4 {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        flex-direction: column;

        .ptitle {
          height: 4rem;
          width: 20em;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 30px;
          background: linear-gradient(
            120deg,
            rgb(31, 150, 196) 0%,
            rgb(74, 204, 198) 100%
          ) !important;
          box-shadow: 0 0 25px rgba(54, 179, 197, 0.5) !important;
        }

        b {
          padding-top: 21px;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-weight: normal;
          font-size: 20px;
          letter-spacing: 2px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        }

        .planesColor4 {
          margin-top: -52px;
          width: 100%;
          overflow: hidden;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 55px;
          letter-spacing: 2px;
          top: 0;
          left: 0;
          opacity: 0.05;
        }
      }
    }
  }
}
