@font-face {
    font-family: "GoldmanBold";
    src: local("GoldmanBold"),
     url("./fonts/CaviarDreams_Italic.ttf") format("truetype");
    font-weight: bold;
   }
   html {
     scroll-snap-type: y mandatory;
     scroll-behavior: smooth;
     
   }
   
   * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family:"GoldmanBold"	
   ;
   
   
   body {
     background-color: #020204;
     color: lightgray;
     overflow-x: hidden;}
   
     .togglebutton{
       display: flex;
     align-content: center;
     margin-left: 5.5rem;
     margin-top: 1.3rem;
     border: none;
     border-radius: 50%;
     padding: 13px;
     width: 66px;
     height: 61px;
   }
     }
     a {
       text-decoration: none;
       color: inherit;
     }
     section {
       height: 100vh;
       scroll-snap-align: center;
     }
    
   